nav{
  display: flex;
  gap:34px;
  background-color: black;
  color: white;
}
*{
  padding: 0;
  margin: 0;
}
li{
  list-style: none;
}
 a li {
  text-decoration: none;
  color: white;
}
.red{
  background-color: red;
  color: wheat;
}